* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #D2665A;
}
header {
  color: #fff;
  background-color: #B82132;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
nav {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
p {
  color: white;
}
a {
  margin-left: 10px;
  color: #fff;
}
ul {
  color: white;
  font-size: 25px;
}
li {
  color: white;
  margin-bottom: 5px;
}
input {
  width: 200px;
  height: 30px;
  border: 1px;
}
.big-input {
  width: 300px;
  height: 100px;
  border: 1px;
  margin-top: 5px;
}
.submit-button {
  width: 50px;
  height: 20px;
  text-align: center;
}
label {
  color: white;
  font-size: 25px;
}
.welcome-text {
  font-size: 16px;
}
.main {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-images {
  max-width: 100px;
  max-height: 100px;
  margin: 20px;
}
.main-text {
  color: white;
  font-size: 25px;
}
.lower-main-container {
  background-color: #F2B28C;
  display: flex;
  justify-content: center;
}
.lower-main {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat-images {
  max-width: 220px;
  max-height: 220px;
  margin: 20px;
}
.contact-container {
  background-color: #D2665A;
  display: flex;
  justify-content: center;
}
.contact {
  width: 900px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background-color: #2c2c2d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.footer-text {
  color: white;
}

.images {
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
}
/* Grid code for assignment */
.upper-container {
  background-color: #D2665A;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.upper-container > div {
  padding: 20px;
}

.showcase-images{
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}