* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  color: #fff;
  background-color: #2c2c2d;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
nav {
  padding: 10px;
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
a {
  margin-left: 10px;
}
footer {
  background-color: #2c2c2d;
}
.footer-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.footer-text {
  color: white;
}
.main-container {
  color: #2c2c2d;
  background-color: #727272;
  display: flex;
  justify-content: center;
}
.main {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-text {
  color: white;
}
